Debug*
Release*
*.vcxproj.*
MoonLight.dll
.vs
.vscode
vNext.txt
examples/GLSLtest
examples/test
CMakeFiles
libs/**/Makefile
libs/**/*.a
libs/**/*.cmake
libs/**/bin
libs/**/*.tcl
*.cmake
bin/SHADERed
bin/SHADERed.exe
bin/log.txt
bin/*.dll
bin/*.ilk
bin/*.pdb
VSProject
CMakeCache.txt
Makefile
