
[submodule "libs/inih"]
	path = libs/inih
	url = https://github.com/jtilly/inih
[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://github.com/zeux/pugixml
[submodule "libs/ImGuiColorTextEdit"]
	path = libs/ImGuiColorTextEdit
	url = https://github.com/dfranx/ImGuiColorTextEdit
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/dfranx/imgui.git
	branch = docking
[submodule "libs/glslang"]
	path = libs/glslang
	url = https://github.com/KhronosGroup/glslang
	ignore = dirty
